body
{
    background-image: url(/images/blackBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    font-family: 'Cinzel', serif; 
    max-width: 100%;
    color: cornsilk;
    background-color: black;
}

#dashboard
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
}

#sideBar
{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2.7vw;
    background-color: #151414;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.sideTitle
{
    font-size: 1.5vw;
}

.sideBut:hover
{
    cursor: pointer;
    background-color: black;
}

#main
{
/*    height: 500px;*/
/*    overflow: hidden;*/
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.divider
{
    margin: 25px 0px;
    width: .3%;
    background-color: grey;
    border-radius: 5px;
}

.title
{
    margin: auto;
    text-align: center;
/*    font-size: 300%;*/
    font-size: 4vw;
}

#skills
{ 
/*    max-height: 100%;*/
    width: 32%;
}

#skillList
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skillBlock
{
    font-size: 1.7vw;
    text-align: center;
    width: 50%;
}

.num
{
    font-size: 3.7vw;
    width: 70%
}

#armour
{
    width: 32%; 
/*    height: 100%;*/
}

#armourViewTitle
{
    margin: 0;
    text-align: center;
    font-size: 2vw;
}

#armourView
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

#armourList
{
    text-align: center;
/*    font-size: 220%;*/
    width: 45%;
}

.armourBlock
{
    margin-bottom: -15px;
    font-size: 2vw;
}

.arNum
{
    font-size: 3.5vw;
}

img
{
    width: 55%;
    height: 40vw;
}

#weapons
{
    width: 32%;
}

#weaponList
{
    overflow-y: scroll;
    max-height: 100%;
}

#weaponList::-webkit-scrollbar
{
    width: 4px;
}

.weaponBlock
{
    font-size: 1.7vw;
}

#edAbles
{
    height: 0px;
    overflow-y: hidden;
    padding-left: 30px;
    font-size: 1.7vw;
}

.operator
{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.sEB
{
    margin: auto;
    background-color: #151414;
    opacity: .6;  
    width: 100%;
    display: none;
}

.numOpr
{
    margin: auto;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sEB:hover
{
    opacity: 1;
    cursor: pointer;
}

#skillButs
{
    width: 33%;
    margin: auto;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#skillsForm
{
    display: none;
}

.saveSkills
{
    margin:0px 4px;
    background-color: black;
    opacity: .6;
    width: 50%;
    border-radius: 15px;
    text-align: center;
    font-size: 2.7vw;
    display: none;
}

.saveSkills:hover
{
    cursor: pointer;
    opacity: 1;
}

#cName:hover
{
     cursor: pointer;
}

#canName
{
    display: none;
}

#canName:hover
{
    cursor: pointer;
    background-color: grey;
}

#subName
{
    display: none;
    font-size: 1vw;
}

#subName:hover
{
     cursor: pointer;
    background-color: grey;
}

@media (max-width: 720px)
{
    #main
    {
        /*    height: 500px;*/
        width: 85%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    /*    justify-content: space-between;*/
    }

    #skills
    {
        /*    max-height: 100%;*/
        width: 100%;
    }

    #armour
    {
        width: 100%;
    }

    #armourList
    {
        text-align: center;
        /*    font-size: 220%;*/
        width: 45%;
    }

    img
    {
        width: 55%;
        height: 70vw;
    }

    #weapons
    {
        width: 100%;
    }

}
