body
{
    background-image: url(/images/blackBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    font-family: 'Cinzel', serif; 
    max-width: 100%;
    color: cornsilk;
    background-color: black;
}

#dashboard
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
}

#sideBar
{
/*    height: 500px;*/
    background-color: darkgray;
    width: 15%;
    
}

#main
{
/*    height: 500px;*/
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.divider
{
    margin: 25px 0px;
    width: .3%;
    background-color: grey;
    border-radius: 5px;
}

.title
{
    margin: auto;
    text-align: center;
/*    font-size: 300%;*/
    font-size: 4vw;
}

#skills
{ 
/*    max-height: 100%;*/
    width: 32%;
}

#skillList
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skillBlock
{
    font-size: 2vw;
    text-align: center;
    width: 50%;
}

.num
{
    font-size: 3.7vw;
}

#armour
{
    width: 32%; 
    height: 100%;
}

#armourViewTitle
{
    margin: 0;
    text-align: center;
    font-size: 2vw;
}

#armourView
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

#armourList
{
    text-align: center;
/*    font-size: 220%;*/
    width: 35%;
}

.armourBlock
{
    margin-bottom: -15px;
    font-size: 2.5vw;
}

.arNum
{
    font-size: 3.7vw;
}

img
{
    margin-left: 10%;
    width: 55%;
    height: 40vw;
}

#weapons
{
    width: 32%;
}

#weaponList
{
    overflow-y: scroll;
    max-height: 100%;
}

#weaponList::-webkit-scrollbar
{
    width: 4px;
}

.weaponBlock
{
    font-size: 1.7vw;
}