/*@import bootstrap.min.css;*/
    
body
{
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    background-color: cadetblue;
}

h1
{
    font-size: 400%;
    text-align: center;
}

h2
{
    font-weight: bold;
    font-size: 250%;
    text-align: center;
}

#link
{
    font-size: 200%;
    text-align: center;
    padding-bottom: 30px;
}

#link a
{
    color: palegoldenrod;
}

img
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#me
{
    border-radius: 250px;
}

.lead
{
    font-size: 200%;
}

#myCarousel
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 45%;
}

.arrow
{
   font-size: 200%;
}