body
{
    height: 100vh; 
}

#mainContent
{
    padding: 0px 30px;
    font-family: sans-serif;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.question
{
    font-size: 200%;
    font-weight: bold;
}

#q4Pic
{
    background-image: url(/images/date.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    opacity: .6;
    height: 600px;
    box-shadow: 10px 10px 5px #888888;
}

#q1Radio
{
    display: none;
}

#q2
{
    padding-top: 20px;
}

#q2Checks
{
    display: none;
}

#seasons
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 600px;
    box-shadow: 10px 10px 5px #888888;
}

.seasonSel
{
    width: 25%; 
    color: azure;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    transition: bottom .5s ease;
}

.seasonSel:hover
{
    position: relative;
    bottom: 20px;
    cursor: pointer;
}

#sFal1
{
    background-image: url(/images/seasons_fall.jpg);
}

#sWin2
{
    background-image: url(/images/seasons_winter.jpg);
}

#sSpr3
{
    background-image: url(/images/seasons_spring.jpg);
}

#sSum4
{
    background-image: url(/images/seasons_summer.jpg);
}

#imgBox
{
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 10px 10px 5px #888888;
}

.imgTitle
{
    padding-top: 15px;
}

.imgs
{
    color: azure;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    transition: width 1s ease;
}

.imgs:hover
{
    opacity: .8;
    cursor: pointer;
}

#img1
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url(/images/sports.jpg);  
}

#img2
{
    background-image: url(/images/videogames.jpg);
}

#img3
{
    background-image: url(/images/outdoors.jpg);
}

#img4
{
    background-image: url(/images/cooking.jpg);
}

#img5
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url(/images/reading.jpg);
    background-color: #888888;
}

#q3
{
    padding-top: 20px;
    margin-bottom: 40px;
}

#q3cont
{
    height: 500px;
    background-image: url(/images/toothbrush.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

#q3cont input
{
    border-radius: 10px;
    background-color: lightgray;
    font-size: 250%;
    width: 50%;
    height: 20%;
    position: relative;
    left: 250px;
    top: 200px;
}

#q4
{
    color: black;
    padding-left: 50px;
    position: relative;
    bottom: 580px;
}


button
{
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 200px;
    border-radius: 10px;
    background-color: dodgerblue;
    font-size: 200%;
    font-weight: bold;
    box-shadow: 10px 10px 5px #888888;
}

.list
{
    margin-right: 5px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: deepskyblue;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

#listOitems
{
    overflow: scroll;
    height: 650px;
}

.item
{
    width: 25%;
}

#lTitle
{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.title
{
    font-weight: bold;
    text-align: left;
    font-size: 250%;
    width: 25%;
   
}